.remove-element__remove-element {
	line-height: 9px;
	position: absolute;
	top: 16px;
	right: 18px;
	color: #d9d9d9;
	transition: color 0.1s ease-in;
}
.remove-element__remove-element:hover {
	cursor: pointer;
	color: #ffffff;
}.options-titlebar__titlebar {
  font-size: 12px;
  color: #d9d9d9;
  line-height: 42px;
  padding-left: 14px;
}
.widget__sub-header {
	color: rgb(255, 255, 255);
	font-size: 11px;
	font-weight: 500;
	line-height: 1;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	margin-bottom: 0 !important;
}

.widget__sub-header-group {
	display: block;
}

.widget__sub-header-icon {
	margin-right: 5px;
}

.widget__label-widget {
  font-weight: bold;
  font-size: 11px;
}

.widget__sub-header-label {
  font-weight: bold;
}/*---------------------------------------------------------------------------------*/
/*  Margin & Padding Box
/*---------------------------------------------------------------------------------*/

.margin-padding__box{
  height: 168px;
  position: relative;
  width: 238px;
  margin: 0 auto;
}
.margin-padding__number-box{
  background-color: #636363;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  height: 20px;
  position: absolute;
  text-align: center;
  width: 26px;
}

.margin-padding__number-box:focus{
  background-color: #434343;
  border-color: #37C4FF;
  outline: none;
}

.margin-padding__margin-top{
  left: 106px;
  top: 5px;
}

.margin-padding__margin-right{
  right: 3px;
  top: 72px;
}

.margin-padding__margin-bottom{
  bottom: 6px;
  left: 106px;
}

.margin-padding__margin-left{
  left: 3px;
  top: 72px;
}

.margin-padding__padding-top{
  left: 106px;
  top: 43px;
}

.margin-padding__padding-right{
  right: 40px;
  top: 72px;
}

.margin-padding__padding-bottom{
  bottom: 43px;
  left: 106px;
}

.margin-padding__padding-left{
  left: 40px;
  top: 72px;
}

.margin-padding__part {
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.margin-padding__part:hover {
  fill: #737373;
}

.margin-padding__part-selected {
  fill: #737373;
}
.radio-button__radio-wrapper {
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.radio-button__radio-wrapper .radio-button__radion-button {
  display: inline-block;
  vertical-align: middle;
}

/*---------------------------------------------------------------------------------*/
/*  Default Type
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper label {
  cursor: pointer;
  display: inline-block;
  background-color: #757575;
  border: 1px solid #757575;
  padding: 8px 12px 7px;
  margin: 0;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
  font-size: 11px;
  font-weight: 400;
  float: none;
}

.radio-button__radio-wrapper label svg {
  /*width: 20px;
  height: 20px;*/
  display: block;
}

.radio-button__radio-wrapper .radio-button__hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-button__radio-wrapper .radio-button__radion-button:hover label {
  background-color: #3d3d3d;
  border: 1px solid #323232;
}

.radio-button__radio-wrapper .radio-button__radion-button:first-child label {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.radio-button__radio-wrapper .radio-button__radion-button:last-child label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radio-button__radio-wrapper .radio-button__radion-button.radio-button__active label {
  background-color: #3d3d3d;
  border: 1px solid #323232;
}

/*---------------------------------------------------------------------------------*/
/*  Second Type - Search & Shopping
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper.radio-button__second-type label {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 6px 7px;
  margin: 1px;
  height: 38px;
  width: 38px;
  border-radius: 0 !important;
}

.radio-button__radio-wrapper.radio-button__second-type .radio-button__radion-button.radio-button__active label,
.radio-button__radio-wrapper.radio-button__second-type .radio-button__radion-button:hover label {
  background-color: #ffffff;
  border: 2px solid #37c4ff;
}

/*---------------------------------------------------------------------------------*/
/*  Third Type - Row Layouts
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper.radio-button__third-type label {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 5px 7px;
  border-radius: 3px;
  display: block;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button {
  margin: 1px 3px;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button:nth-child(4n + 1) {
  margin-left: 0;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button:nth-child(4n) {
  margin-right: 0;
}

.radio-button__radio-wrapper.radio-button__third-type label svg {
  width: 39px;
  height: 28px;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button.radio-button__active label svg {
  fill: #fff;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button:hover label {
  background-color: transparent;
  border-color: transparent;
}

.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button.radio-button__active label,
.radio-button__radio-wrapper.radio-button__third-type .radio-button__radion-button.radio-button__active:hover label {
  background-color: #3d3d3d;
  border: 1px solid #363636;
  border-radius: 3px;
}

/*---------------------------------------------------------------------------------*/
/*  Fourth Type - Row Full Width Content
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper.radio-button__fourth-type {
	position: relative;
	top: 2px;
}

.radio-button__radio-wrapper.radio-button__fourth-type label {
	padding: 6px;
  width: 22px;
  height: 22px;
  position: relative;
}

.radio-button__radio-wrapper.radio-button__fourth-type label svg {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------------*/
/*  Fifth Type - Background Image Position
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper.radio-button__sixth-type {
  position: relative;
  top: 2px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button {
  margin: 0 2px;
}

.radio-button__radio-wrapper.radio-button__sixth-type label {
  padding: 6px;
  border-radius: 3px;
}

.radio-button__radio-wrapper.radio-button__sixth-type label svg {
  width: 6px;
  height: 6px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(2) label,
.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(8) label {
  padding: 7px 5px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(2) label svg,
.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(8) label svg {
  width: 8px;
  height: 4px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(4) label,
.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(6) label {
  padding: 5px 7px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(4) label svg,
.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(6) label svg {
  width: 4px;
  height: 8px;
}

.radio-button__radio-wrapper.radio-button__sixth-type .radio-button__radion-button:nth-child(5) label {
  padding: 9px;
}

/*---------------------------------------------------------------------------------*/
/*  Seventh Type - Search & Shopping
/*---------------------------------------------------------------------------------*/

.radio-button__radio-wrapper.radio-button__seventh-type label {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 5px 3px;
  margin: 1px;
  height: 37px;
  width: 37px;
  border-radius: 0 !important;
}

.radio-button__radio-wrapper.radio-button__seventh-type .radio-button__radion-button.radio-button__active label,
.radio-button__radio-wrapper.radio-button__seventh-type .radio-button__radion-button:hover label {
  background-color: #ffffff;
  border: 2px solid #37c4ff;
}.styles__focused {
  border-color: #37C4FF !important;
}.swatch__color {
	width: 26px;
	height: 26px;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.swatch__swatch {
	padding: 0;
	background: #CCC;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	display: inline-block;
	cursor: pointer;
	width: 26px;
	height: 26px;
	position: relative;
	vertical-align: middle;
	z-index: 1;
}
.border-settings__border-box {
	position: relative;
	display: block;
	margin: 0 auto;
}

.border-settings__border {
	cursor: pointer;
}

.border-settings__border-active {
	stroke: #37c4ff;
	fill: #37c4ff;
}

.border-settings__border:hover {
	stroke: #37c4ff;
}

.border-settings__border:active {
	fill: #37c4ff;
}
.button__button {
	background: #666;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	cursor:pointer;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 11px;
}

.button__button:hover{
	background: #757575;
	color: #fff;
	text-decoration: none;
}

.button__button:active {
	box-shadow: 0 0px 1px rgba(0,0,0,0.45);
	transform: translate(0px, 1px);
}
.style__color-picker-container {
  display: none;
  margin-top: 16px;
}
.style__color-picker-active {
  display: block  
}

.style__preview-bar-swatch {
  padding: 0;
  background: #fff;
  overflow: hidden;
  width: 200px;
  height: 15px;
  position: relative;
}

.style__bg-gradient-picker {
  padding: 0px 5px;
}

.style__preview-btn-container {
  position: relative;
  width: 200px;
  height: 17px;
}

.style__bg-gradient-info {
  width: calc(100% + 30px);
  left: -15px;
  position: relative;
  padding-left: 15px;
  border-bottom: 1px solid #3D3D3D;
  margin-bottom: 15px;
  padding-bottom: 5px;
}.style__col-panel {
  background-color: #535353;
  padding: 15px 11px;
  box-sizing: content-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 8px;
}

.style__col-panel > header {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 12px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Options
/*---------------------------------------------------------------------------------*/

.style__bg-comp {
  width: 100%;
  display: block;
  position: relative;
  height: 36px;
  padding: 4px;
  margin-bottom: 5px;
}

.style__bg-box {
  width: calc(100% - 25px);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.style__wrapper-bg {
  display: block;
  border-radius: 3px;
  background-color: #6B6B6B;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.style__wrapper-bg:hover {
  background: #757575;
}

.style__wrapper-bg-active {
  display: block;
  background: #757575;
}

.style__button-active-bg {
  position: absolute;
  width: calc(100% - 25px);
  height: 100%;
  top: 0;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
.style__wrapper-bg-active .style__button-active-bg {
  z-index: 4;
}

.style__bg-box .style__preview {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" style="enable-background:new 0 0 20 20;"><g><line fill="none" x1="18.6" y1="1.4" x2="1.4" y2="18.6"/><path fill="#F95759" d="M1.4,20c-0.4,0-0.7-0.1-1-0.4c-0.6-0.6-0.6-1.4,0-2L17.6,0.4c0.6-0.6,1.4-0.6,2,0s0.6,1.4,0,2L2.4,19.6 C2.1,19.9,1.9,20,1.4,20z"/></g></svg>' );
}

.style__bg-box .style__title {
  color: white;
  color: #fff;
  font-family: Helvetica;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

.style__bg-box .style__bg-panel {
  position: absolute;
  display: none;
  background-color: #535353;
  padding: 15px;
  border-radius: 3px;
  z-index: 1;
  width: calc(100% + 35px);
  left: -5px;
  top: 37px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.style__bg-box .style__bg-panel-image {
  padding-bottom: 0px;
}

.style__bg-panel .style__bg-panel-heading,
.style__bg-box .style__bg-panel header.style__sub-header {
  font-weight: 500;
  font-size: 11px;
  font-family: 'Helvetica';
}

.style__bg-image-hr {
  margin-bottom: 0px;
}

.style__bg-comp.style__bg-panel-active .style__bg-panel {
  display: block;
}

.style__bg-panel-labels{
  font-size: 11px;
  display: inline-block;
  margin-right: 4px;
}

.style__bg-box .style__bg-panel header {
  margin-bottom: 15px;
}

.style__bg-box .style__bg-panel header.style__sub-header {
  margin-bottom: 5px;
}

.style__wrapper-bg .style__bg-eye {
  width: 16px;
  height: 15px;
  position: absolute;
  display: block;
  top: 11px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

.style__wrapper-bg .style__bg-eye .style__bg-eye-cross {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 15px;
}

.style__bg-eye .style__bg-eye-container {
  display: none;
}

.style__bg-eye.style__bg-eye-selected .style__bg-eye-container {
  display: block;
}

.style__bg-eye.style__bg-eye-selected .style__bg-eye-cross {
  display: none;
}

.style__bg-layer-overlay {
  opacity: 0.50;
}

.style__bg-overlay-container {
  background: #5F5F5F;
}

.style__wrapper-bg:hover .style__bg-layer-overlay,
.style__wrapper-bg-active .style__bg-layer-overlay {
  opacity: 0;
}

.style__wrapper-bg:hover .style__bg-overlay-container,
.style__wrapper-bg-active .style__bg-overlay-container {
  background: #757575;
}

hr {
  width: calc(100% + 30px);
  left: -15px;
  position: relative;
  border-color: #3d3d3d;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Attachment
/*---------------------------------------------------------------------------------*/
.style__bg-horizontal {
  margin-bottom: 10px;
}

.style__bg-horizontal.style__bg-position {
  margin-bottom: 2px;
}

.style__bg-horizontal input {
  opacity: 0;
  position: absolute;
  top: 1px;
  display: block;
  left: 1px;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.style__bg-horizontal .style__button-group {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #757575;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.style__bg-horizontal .style__button-group.style__first-item {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.style__bg-horizontal .style__button-group.style__last-item {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.style__bg-horizontal .style__button-group svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.style__bg-horizontal .style__button-group.style__selected {
  background-color: #3d3d3d;
}

.style__bg-horizontal.style__bg-position .style__button-group {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.style__bg-image-box {
  display: block;
  position: relative;
}

.style__bg-image-box label {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  margin-bottom: 0;
  padding: 7px 12px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  cursor: pointer;
}

.style__bg-image-box label svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.style__bg-image {
  border: 1px solid #6b6b6b;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 0 0 5px;
  background: #6b6b6b;
  display: inline-block;
  position: relative;
}
.style__bg-image:hover {
  background: #6b6b6b;
}
.style__bg-image:active {
  background: #6b6b6b;
}
.style__bg-image span.style__bg-image-label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.style__bg-image .style__bg-image-upload {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.style__bg-image .style__bg-image-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.style__bg-image .style__bg-image-upload a {
  display: none;
}

.style__bg-image-preview {
  display: inline-block;
  vertical-align: top;
  width: 109px;
  height: 100px;
  padding: 0 0 0 9px;
}

.style__bg-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #3d3d3d;
  border-radius: 2px;
}

.style__bg-side {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-top: 15px;
  padding-right: 10px;
}

.style__bg-side-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 15px;
  border-left: 1px solid #3d3d3d;
}

/*---------------------------------------------------------------------------------*/
/*  Background Gradient
/*---------------------------------------------------------------------------------*/
.style__bg-gradient-type {
  margin-bottom: 15px;
}

.style__bg-gradient-type.style__bg-position {
  margin-bottom: 2px;
}

.style__bg-box .style__bg-panel.style__bg-gradient-panel{
  padding: 0;
  background-color: transparent;
}

.style__bg-gradient-panel-box{
  padding: 15px;
  background-color: #535353;
  border-radius: 3px;
}

.style__bg-gradient-panel-border-bottom{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.style__bg-gradient-panel-border-top{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 1px;
}

.style__bg-angle-input-wrap{
    border: 1px solid #363636;
    border-radius: 2px;
    background-color: #3d3d3d;
    display: inline-block;
    font-size: 12px;
    padding-right: 6px;
}

.style__bg-angle-input-label{
    display: inline-block;
    color: #999999;
    font-size: 11px;
}

.style__bg-angle-input{
    background-color: #3d3d3d;
    border: none;
    text-align: center;
    width: 46px;
    height: 25px;
    padding: 0 2px;
    outline: none;
}

.style__bg-gradient-picker .style__gap {
  padding: 5px 0;
  display: block;
  width: 100%;
}.file-input__file-input {
  line-height: 0.5rem;
}

.file-input__input {
  display: none;
}

.file-input__choose-btn {
  color: #0080FF;
}

.file-input__choose-btn,
.file-input__remove-btn {
  text-decoration: none;
}

.file-input__remove-btn {
  color: #999999;
  margin-right: 0.4rem;
}

.file-input__remove-btn:hover {
  color: #FF6666;
}
.background__col-panel {
  background-color: #535353;
  padding: 15px 11px;
  box-sizing: content-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 8px;
}

.background__col-panel > header {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 12px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Options
/*---------------------------------------------------------------------------------*/

.background__bg-comp {
  width: 100%;
  display: block;
  position: relative;
  height: 36px;
  padding: 4px;
  margin-bottom: 5px;
}

.background__bg-box {
  width: calc(100% - 25px);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.background__wrapper-bg {
  display: block;
  border-radius: 3px;
  background-color: #6B6B6B;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.background__wrapper-bg:hover {
  background: #757575;
}

.background__wrapper-bg-active {
  display: block;
  background: #757575;
}

.background__button-active-bg {
  position: absolute;
  width: calc(100% - 25px);
  height: 100%;
  top: 0;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
.background__wrapper-bg-active .background__button-active-bg {
  z-index: 4;
}

.background__bg-box .background__preview {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" style="enable-background:new 0 0 20 20;"><g><line fill="none" x1="18.6" y1="1.4" x2="1.4" y2="18.6"/><path fill="#F95759" d="M1.4,20c-0.4,0-0.7-0.1-1-0.4c-0.6-0.6-0.6-1.4,0-2L17.6,0.4c0.6-0.6,1.4-0.6,2,0s0.6,1.4,0,2L2.4,19.6 C2.1,19.9,1.9,20,1.4,20z"/></g></svg>' );
}

.background__bg-box .background__title {
  color: white;
  color: #fff;
  font-family: Helvetica;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

.background__bg-box .background__bg-panel {
  position: absolute;
  display: none;
  background-color: #535353;
  padding: 15px;
  border-radius: 3px;
  z-index: 1;
  width: calc(100% + 35px);
  left: -5px;
  top: 37px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.background__bg-box .background__bg-panel-image {
  padding-bottom: 0px;
}

.background__bg-panel .background__bg-panel-heading,
.background__bg-box .background__bg-panel header.background__sub-header {
  font-weight: 500;
  font-size: 11px;
  font-family: 'Helvetica';
}

.background__bg-image-hr {
  margin-bottom: 0px;
}

.background__bg-comp.background__bg-panel-active .background__bg-panel {
  display: block;
}

.background__bg-panel-labels{
  font-size: 11px;
  display: inline-block;
  margin-right: 4px;
}

.background__bg-box .background__bg-panel header {
  margin-bottom: 15px;
}

.background__bg-box .background__bg-panel header.background__sub-header {
  margin-bottom: 5px;
}

.background__wrapper-bg .background__bg-eye {
  width: 16px;
  height: 15px;
  position: absolute;
  display: block;
  top: 11px;
  right: 10px;
  z-index: 2;
}

.background__wrapper-bg .background__bg-eye .background__bg-eye-cross {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 15px;
}

.background__bg-eye .background__bg-eye-container {
  display: none;
}

.background__bg-eye.background__bg-eye-selected .background__bg-eye-container {
  display: block;
}

.background__bg-eye.background__bg-eye-selected .background__bg-eye-cross {
  display: none;
}

.background__bg-layer-overlay {
  opacity: 0.50;
}

.background__bg-overlay-container {
  background: #5F5F5F;
}

.background__wrapper-bg:hover .background__bg-layer-overlay,
.background__wrapper-bg-active .background__bg-layer-overlay {
  opacity: 0;
}

.background__wrapper-bg:hover .background__bg-overlay-container,
.background__wrapper-bg-active .background__bg-overlay-container {
  background: #757575;
}

hr {
  width: calc(100% + 30px);
  left: -15px;
  position: relative;
  border-color: #3d3d3d;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Attachment
/*---------------------------------------------------------------------------------*/
.background__bg-horizontal {
  margin-bottom: 15px;
}

.background__bg-horizontal.background__bg-position {
  margin-bottom: 2px;
}

.background__bg-horizontal input {
  opacity: 0;
  position: absolute;
  top: 1px;
  display: block;
  left: 1px;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.background__bg-horizontal .background__button-group {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #757575;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.background__bg-horizontal .background__button-group.background__first-item {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.background__bg-horizontal .background__button-group.background__last-item {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.background__bg-horizontal .background__button-group svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.background__bg-horizontal .background__button-group.background__selected {
  background-color: #3d3d3d;
}

.background__bg-horizontal.background__bg-position .background__button-group {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.background__bg-image-box {
  display: block;
  position: relative;
}

.background__bg-image-box label {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  margin-bottom: 0;
  padding: 7px 12px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  cursor: pointer;
}

.background__bg-image-box label svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.background__bg-image {
  border: 1px solid #6b6b6b;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 0 0 5px;
  background: #6b6b6b;
  display: inline-block;
  position: relative;
}
.background__bg-image:hover {
  background: #6b6b6b;
}
.background__bg-image:active {
  background: #6b6b6b;
}
.background__bg-image span.background__bg-image-label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.background__bg-image .background__bg-image-upload {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.background__bg-image .background__bg-image-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.background__bg-image .background__bg-image-upload a {
  display: none;
}

.background__bg-image-preview {
  display: inline-block;
  vertical-align: top;
  width: 109px;
  height: 100px;
  padding: 0 0 0 9px;
}

.background__bg-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #3d3d3d;
  border-radius: 2px;
}

.background__bg-side {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-top: 15px;
}

.background__bg-side-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 15px;
  border-left: 1px solid #3d3d3d;
}

/*---------------------------------------------------------------------------------*/
/*  Background Gradient
/*---------------------------------------------------------------------------------*/
.background__bg-gradient-type {
  margin-bottom: 15px;
}

.background__bg-gradient-type.background__bg-position {
  margin-bottom: 2px;
}

.background__bg-box .background__bg-panel.background__bg-gradient-panel{
  padding: 0;
  background-color: transparent;
}

.background__bg-gradient-panel-box{
  padding: 15px;
  background-color: #535353;
  border-radius: 3px;
}

.background__bg-gradient-panel-border-bottom{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.background__bg-gradient-panel-border-top{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 1px;
}

.background__bg-angle-input-wrap{
    border: 1px solid #363636;
    border-radius: 2px;
    background-color: #3d3d3d;
    display: inline-block;
    font-size: 12px;
    padding-right: 6px;
}

.background__bg-angle-input-label{
    display: inline-block;
    color: #999999;
    font-size: 11px;
}

.background__bg-angle-input{
    background-color: #3d3d3d;
    border: none;
    text-align: center;
    width: 46px;
    height: 25px;
    padding: 0 2px;
    outline: none;
}

.background__bg-gradient-picker .background__gap {
  padding: 5px 0;
  display: block;
  width: 100%;
}.background__col-panel {
  background-color: #535353;
  padding: 15px 11px;
  box-sizing: content-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 8px;
}

.background__col-panel > header {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 12px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Options
/*---------------------------------------------------------------------------------*/

.background__bg-comp {
  width: 100%;
  display: block;
  position: relative;
  height: 36px;
  padding: 4px;
  margin-bottom: 5px;
}

.background__bg-box {
  width: calc(100% - 25px);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.background__wrapper-bg {
  display: block;
  border-radius: 3px;
  background-color: #6B6B6B;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.background__wrapper-bg:hover {
  background: #757575;
}

.background__wrapper-bg-active {
  display: block;
  background: #757575;
}

.background__button-active-bg {
  position: absolute;
  width: calc(100% - 25px);
  height: 100%;
  top: 0;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
.background__wrapper-bg-active .background__button-active-bg {
  z-index: 4;
}

.background__bg-box .background__preview {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" style="enable-background:new 0 0 20 20;"><g><line fill="none" x1="18.6" y1="1.4" x2="1.4" y2="18.6"/><path fill="#F95759" d="M1.4,20c-0.4,0-0.7-0.1-1-0.4c-0.6-0.6-0.6-1.4,0-2L17.6,0.4c0.6-0.6,1.4-0.6,2,0s0.6,1.4,0,2L2.4,19.6 C2.1,19.9,1.9,20,1.4,20z"/></g></svg>' );
}

.background__bg-box .background__title {
  color: white;
  color: #fff;
  font-family: Helvetica;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

.background__bg-box .background__bg-panel {
  position: absolute;
  display: none;
  background-color: #535353;
  padding: 15px;
  border-radius: 3px;
  z-index: 1;
  width: calc(100% + 35px);
  left: -5px;
  top: 37px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.background__bg-box .background__bg-panel-image {
  padding-bottom: 0px;
}

.background__bg-panel .background__bg-panel-heading,
.background__bg-box .background__bg-panel header.background__sub-header {
  font-weight: 500;
  font-size: 11px;
  font-family: 'Helvetica';
}

.background__bg-image-hr {
  margin-bottom: 0px;
}

.background__bg-comp.background__bg-panel-active .background__bg-panel {
  display: block;
}

.background__bg-panel-labels{
  font-size: 11px;
  display: inline-block;
  margin-right: 4px;
}

.background__bg-box .background__bg-panel header {
  margin-bottom: 15px;
}

.background__bg-box .background__bg-panel header.background__sub-header {
  margin-bottom: 5px;
}

.background__wrapper-bg .background__bg-eye {
  width: 16px;
  height: 15px;
  position: absolute;
  display: block;
  top: 11px;
  right: 10px;
  z-index: 2;
}

.background__wrapper-bg .background__bg-eye .background__bg-eye-cross {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 15px;
}

.background__bg-eye .background__bg-eye-container {
  display: none;
}

.background__bg-eye.background__bg-eye-selected .background__bg-eye-container {
  display: block;
}

.background__bg-eye.background__bg-eye-selected .background__bg-eye-cross {
  display: none;
}

.background__bg-layer-overlay {
  opacity: 0.50;
}

.background__bg-overlay-container {
  background: #5F5F5F;
}

.background__wrapper-bg:hover .background__bg-layer-overlay,
.background__wrapper-bg-active .background__bg-layer-overlay {
  opacity: 0;
}

.background__wrapper-bg:hover .background__bg-overlay-container,
.background__wrapper-bg-active .background__bg-overlay-container {
  background: #757575;
}

hr {
  width: calc(100% + 30px);
  left: -15px;
  position: relative;
  border-color: #3d3d3d;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*---------------------------------------------------------------------------------*/
/*  Background Attachment
/*---------------------------------------------------------------------------------*/
.background__bg-horizontal {
  margin-bottom: 15px;
}

.background__bg-horizontal.background__bg-position {
  margin-bottom: 2px;
}

.background__bg-horizontal input {
  opacity: 0;
  position: absolute;
  top: 1px;
  display: block;
  left: 1px;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.background__bg-horizontal .background__button-group {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #757575;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.background__bg-horizontal .background__button-group.background__first-item {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.background__bg-horizontal .background__button-group.background__last-item {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.background__bg-horizontal .background__button-group svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.background__bg-horizontal .background__button-group.background__selected {
  background-color: #3d3d3d;
}

.background__bg-horizontal.background__bg-position .background__button-group {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.background__bg-image-box {
  display: block;
  position: relative;
}

.background__bg-image-box label {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  margin-bottom: 0;
  padding: 7px 12px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  cursor: pointer;
}

.background__bg-image-box label svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.background__bg-image {
  border: 1px solid #6b6b6b;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 0 0 5px;
  background: #6b6b6b;
  display: inline-block;
  position: relative;
}
.background__bg-image:hover {
  background: #6b6b6b;
}
.background__bg-image:active {
  background: #6b6b6b;
}
.background__bg-image span.background__bg-image-label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.background__bg-image .background__bg-image-upload {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.background__bg-image .background__bg-image-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.background__bg-image .background__bg-image-upload a {
  display: none;
}

.background__bg-image-preview {
  display: inline-block;
  vertical-align: top;
  width: 109px;
  height: 100px;
  padding: 0 0 0 9px;
}

.background__bg-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #3d3d3d;
  border-radius: 2px;
}

.background__bg-side {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-top: 15px;
}

.background__bg-side-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 15px;
  border-left: 1px solid #3d3d3d;
}

/*---------------------------------------------------------------------------------*/
/*  Background Gradient
/*---------------------------------------------------------------------------------*/
.background__bg-gradient-type {
  margin-bottom: 15px;
}

.background__bg-gradient-type.background__bg-position {
  margin-bottom: 2px;
}

.background__bg-box .background__bg-panel.background__bg-gradient-panel{
  padding: 0;
  background-color: transparent;
}

.background__bg-gradient-panel-box{
  padding: 15px;
  background-color: #535353;
  border-radius: 3px;
}

.background__bg-gradient-panel-border-bottom{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.background__bg-gradient-panel-border-top{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 1px;
}

.background__bg-angle-input-wrap{
    border: 1px solid #363636;
    border-radius: 2px;
    background-color: #3d3d3d;
    display: inline-block;
    font-size: 12px;
    padding-right: 6px;
}

.background__bg-angle-input-label{
    display: inline-block;
    color: #999999;
    font-size: 11px;
}

.background__bg-angle-input{
    background-color: #3d3d3d;
    border: none;
    text-align: center;
    width: 46px;
    height: 25px;
    padding: 0 2px;
    outline: none;
}

.background__bg-gradient-picker .background__gap {
  padding: 5px 0;
  display: block;
  width: 100%;
}html, body {
	font-family: Helvetica, sans-serif;
}

.app__wrapper {
	position: relative;
	height: 100%;
}

.app__header {
	width: calc(100vw - 275px - 50px);
	height: 42px;
	background-color: #424242;
	left: 45px;
	top: 0;
	display: block;
	position: absolute;
	border-bottom: 1px solid #2b2b2b;
	box-sizing: border-box;
}

.app__shortcuts-area {
	width: 45px;
	height: calc(100vh - 30px);
	background-color: #424242;
	left: 0;
	top: 0;
	display: block;
	position: absolute;
	border-right: 1px solid #2b2b2b;
	box-sizing: border-box;
}

.app__main-area {
	width: calc(100vw - 275px - 50px);
	height: calc(100vh - 40px - 30px);
	background-color: #fff;
	top: 42px;
	left: 45px;
	display: block;
	position: absolute;
}

.app__main-area .app__wrapper {
	max-height: calc(100vh - 42px - 30px);
	overflow-x: hidden;
}

.app__options-area {
	width: 281px;
	height: calc(100vh - 30px);
	background-color: #424242;
	right: 0;
	top: 0;
	display: block;
	position: absolute;
	border-left: 1px solid #2b2b2b;
	box-sizing: border-box;
	color: #ffffff;
}

.app__footer {
	width: 100vw;
	background-color: #424242;
	bottom: 0;
	left: 0;
	display: block;
	position: absolute;
	border-top: 1px solid #2b2b2b;
	box-sizing: border-box;
	padding: 3px 10px;
}
.ReactModal__Body--open {
  overflow: hidden;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__overlay * {
  box-sizing: border-box;
}

.modal__content {
  outline: none;
  background-color: #fff;
  width: 768px;
  max-width: 100%;
  margin: 100px auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}

.modal__header {
  font-weight: bold;
  padding: 24px 24px 20px 24px;
}

.modal__header > h1,
.modal__header > h2,
.modal__header > h3,
.modal__header > h4,
.modal__header > h5,
.modal__header > h6 {
  margin: 0;
}

.modal__body {
  padding: 0 24px 24px 24px;
  color: #666;
}

.modal__footer {
  padding: 8px;
  font-size: 0.9em;
}

.modal__command-button {
  float: right;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  color: #66CCFF;
}

.modal__command-button:hover {
  background-color: #eee;
}

.modal__content input,
.modal__content select {
  width: 200px;
}
.social-media-element-options__icon-list {
  border: 1px solid #ddd;
}

.social-media-element-options__icon-list .social-media-element-options__empty {
  padding: 3px 6px;
}

.social-media-element-options__icon-item {
  padding: 1px 4px;
  cursor: default;
}

.social-media-element-options__icon-item:hover {
  background-color: #eee;
}

.social-media-element-options__icon-item.social-media-element-options__selected {
  background-color: #bbb;
  color: #fff;
}

.social-media-element-options__icon-item-text {
  float: left;
  padding: 0 2px;
}

.social-media-element-options__icon-list-footer {
  margin-top: 4px;
}

.social-media-element-options__icon-list-footer > .fa:hover {
  color: #0080FF;
}

.social-media-element-options__add,
.social-media-element-options__icon-item-edit {
  float: left;
}

.social-media-element-options__move-up,
.social-media-element-options__move-down,
.social-media-element-options__icon-item-remove {
  float: right;
}

.social-media-element-options__icon-item-edit,
.social-media-element-options__icon-item-remove {
  padding: 3px 0;
}

.social-media-element-options__icon-item-remove {
  display: none;
}

.social-media-element-options__icon-item:hover .social-media-element-options__icon-item-edit:hover {
  color: #0080FF;
}

.social-media-element-options__icon-item:hover .social-media-element-options__icon-item-remove:hover {
  color: #FF6666;
}

.social-media-element-options__icon-item:hover .social-media-element-options__icon-item-remove {
  display: inline-block;
}
.button-element-options__preview {
  background-color: #ddd;
  display: inline-block;
  text-align: center;
}
.language-element-options__language-list {
  border: 1px solid #ddd;
}

.language-element-options__language-list .language-element-options__empty {
  padding: 3px 6px;
}

.language-element-options__language-item {
  padding: 1px 4px;
  cursor: default;
}

.language-element-options__language-item:hover {
  background-color: #eee;
}

.language-element-options__language-item.language-element-options__selected {
  background-color: #bbb;
  color: #fff;
}

.language-element-options__language-item-text {
  float: left;
  padding: 0 2px;
}

.language-element-options__language-list-footer {
  margin-top: 4px;
}

.language-element-options__language-list-footer > .fa:hover {
  color: #0080FF;
}

.language-element-options__add,
.language-element-options__language-item-edit {
  float: left;
}

.language-element-options__move-up,
.language-element-options__move-down,
.language-element-options__language-item-remove {
  float: right;
}

.language-element-options__language-item-edit,
.language-element-options__language-item-remove {
  padding: 3px 0;
}

.language-element-options__language-item-remove {
  display: none;
}

.language-element-options__language-item:hover .language-element-options__language-item-edit:hover {
  color: #0080FF;
}

.language-element-options__language-item:hover .language-element-options__language-item-remove:hover {
  color: #FF6666;
}

.language-element-options__language-item:hover .language-element-options__language-item-remove {
  display: inline-block;
}
.textbox-element-options__text {
  width: 100%;
  resize: none;
}
.styles__button, .styles__button:visited, .styles__button:link {
	display: block;
	background: #535353;
	border: 1px solid #525252;
	border-radius: 3px;
	margin-bottom: 7px;
	text-decoration: none;
	color: #fff;
	padding: 11px 15px;
	font-size: 12px;
	position: relative;
}

.styles__button:hover, .styles__button.styles__clicked {
	background: #333;
}

.styles__button:active {
	top: 1px;
}

.styles__font-bold {
	font-weight: bold;
}.shopping__radio-buttons > div > span {
  font-weight: bold;
}.options-editor__editor {
  padding: 0px 8px 15px 6px;
  overflow-y: auto;
  background: #424242;
  height: calc(100vh - 70px);
}

.options-editor__editor header {
  margin-bottom: 16px;
}

.options-editor__editor header:not(:first-child) {
  margin-top: 20px;
}
.options__options {
}
.toolbox-element__element-container {
  margin: 5px;
  float: left; 
  width:71px;
  height:71px;
  background: #565656;
  border: 1px solid #4a4a4a;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  transition: box-shadow 0.1s ease-in;
}

.toolbox-element__element-container:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.toolbox-element__element {
  color: #d9d9d9;
  background: #616161;
  text-decoration: none;
  cursor: move;
  height:100%;
  width:100%;
  float: left;
  text-align: center;
  font-size: 11px;
}

.toolbox-element__is-dragging {
  opacity: 0;
}.toolbox__wrapper {
  height: 100%;
  z-index: 1;
}

.toolbox__list {
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

.toolbox__wrapper.toolbox__collapsed .toolbox__list {
  /*display: none;*/
}

.toolbox__titlebar {
  padding: 4px 8px;
  border-bottom: 1px solid #85AFFF;
  color: #85AFFF;
  font-weight: bold;
}

.toolbox__body {
  padding: 0px;
}

.toolbox__plus-button {
  font-family: sans-serif;
  top: 0;
  left: -39px;
  background-color: rgba(193, 221, 255, 0.62);
  color: #ffffff;
  border: 1px solid rgba(193, 221, 255, 0.2);
  font-weight: bold;
  font-size: 2em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  box-shadow: .2em .2em 6px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.toolbox__plus-button:after {
  content: '+';
  display: inline-block;
  position: relative;
  top: -.06em;
  left: -.005em;
  transform-origin: 50% 55%;
}

.toolbox__wrapper:not(.toolbox__collapsed) .toolbox__plus-button:after {
  transform: rotate(45deg);
}
.element-holder__shortcut-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
}

.element-holder__shortcut-wrapper li {
  width: calc(100% + 1px);
  height: 46px;
  display: block;
  position: relative;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.element-holder__shortcut-wrapper li:first-of-type {
  height: 41px;
  border-top: none;
  border-bottom: none;
}

.element-holder__shortcut-wrapper li a {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.element-holder__shortcut-wrapper li a > svg {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.element-holder__header-shortcut {
  width: 24px;
  height: 24px;
}

.element-holder__element-shortcut {
  width: 28px;
  height: 28px;
}

.element-holder__shortcut-wrapper li.element-holder__shortcut-element-active {
  background: #535353;
  border-top-color: #2b2b2b;
  border-bottom-color: #2b2b2b;
}

.element-holder__shortcut-wrapper li.element-holder__shortcut-element-active a {
  z-index: 2;
}

.element-holder__shortcut-element-active:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 44px;
  display: block;
  top: 0;
  right: -1px;
  background: #535353;
}

.element-holder__shortcut-element-active .element-holder__header-shortcut-panel {
  background: #535353;
  width: 336px;
  height: calc(100vh - 30px);
  position: absolute;
  left: 45px;
  border-right: 1px solid #2b2b2b;
}

.element-holder__shortcut-element-active .element-holder__element-shortcut-panel {
  background: #535353;
  width: 173px;
  height: calc(100vh - 68px);
  position: absolute;
  left: 45px;
  top: -1px;
  border: 1px solid #2b2b2b;
  border-left: none;
}

.element-holder__element-shortcut-panel svg {
  display: block;
  margin: 10px auto 8px auto;
}

.element-holder__side-bar {
  position: absolute;
  background: transparent;
  width: 45px;
  height: calc(100vh - 30px);
  top: -45px;
  z-index: 1;
}
.element-holder__element-shortcut-btn:hover > svg,
.element-holder__element-shortcut-btn-active > svg {
  fill: #FFFFFF;
}.element__element {
  color: #fff;
  background-color: #666;
  border: 1px solid transparent;
  padding: 10px;
  margin: 2px 0;
  cursor: pointer;
  width: 100%;
  position: relative;
  border-radius:3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition: all 0.1s ease-in;
}

.element__element:first-child {
  margin-top: 0;
}

.element__drop-preview {
  background-color: rgba(55,196,255, 0.30);
  color: rgba(180, 230, 180, 0.8);
  border: 1px dashed rgb(55,196,255);
  border-radius: 3px;
  display: block;
  margin: 0;
  cursor: pointer;
  height: 42px;
  width: 100%;
  transition: all 0.2s ease-in;
  margin-top: 5px;
  margin-bottom: 5px;
}

.element__label{
  position: absolute;
  top: -20px;
  left: -1px;
  display: inline-block;
  border-radius: 2px;
  background-color: #37c4ff;
  color: #fff;
  opacity: 0;
  font-size: 11px;
  padding: 2px 6px;
  font-style: normal;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.1s ease-in;
}

.element__element:hover{
  border-color: #94d4ee;
  border-top-left-radius: 0;
}

.element__element:hover .element__label{
  opacity: 1;
  background-color: #94d4ee;
}

.element__element.element__highlighted {
  border-color: #37c4ff;
  background-color: #5c5c5c;
  border-top-left-radius: 0;
  /*composes: highlighted from './main-area.css';*/
}

.element__element.element__highlighted .element__label{
  opacity: 1;
  background-color: #37c4ff;
}
.column__column {
  height: 58px;
  background-color: #e0e0e0;
  color: #fff;
  border: 1px solid transparent;
  padding: 4px 6px;
  font-size: 1em;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-radius: 3px;
  position: relative;
  transition: all 0.1s ease-in;
}

.column__column:hover {
  border-top-left-radius: 0; 
}

.column__column.column__column-label .column__label{
  opacity: 1;
  background-color: #94d4ee;
}

.column__column.column__column-label {
  border-color: #94d4ee;
}

.column__column.column__highlighted {
  border-color: #37c4ff;
  border-top-left-radius: 0; 
  /*composes: highlighted from './main-area.css';*/
}

.column__label{
  position: absolute;
  top: -20px;
  left: -1px;
  display: inline-block;
  border-radius: 2px;
  background-color: #37c4ff;
  color: #fff;
  opacity: 0;
  font-size: 11px;
  padding: 2px 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.1s ease-in;
}

.column__column.column__highlighted .column__label{
  opacity: 1;
  background-color: #37c4ff;
  border-bottom-left-radius: 0;
}

.column__drop-box-helper {
  /*composes: can-drop from './grid.css';*/
  background-color: rgba(55,196,255, 0.30);
  color: rgba(180, 230, 180, 0.8);
  border: 1px dashed rgb(55,196,255);
  border-radius: 3px;
  display: block;
  margin: 0;
  cursor: pointer;
  visibility: hidden;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 12px);
  transform: translate(-50%,-50%);
  transition: all 0.2s ease-in;
}
.column__drop-box-helper.column__can-drop {
  visibility: visible;
}

.column__hover{
  background: red !important;
}.column-resizer__resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  cursor: col-resize;
}
.row__grid-row {
  position: relative;
  border: 1px solid #d4d4d4;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin-top: 20px;
}

.row__grid-row.row__hovered {
  border-color: #94d4ee;
  border-top-left-radius: 0;
}

.row__grid-row.row__hovered .row__label {
  opacity: 1;
  background-color: #94d4ee;
  border-bottom-left-radius: 0; 
}

.row__grid-row.row__highlighted {
  border-color: #37c4ff;
  border-top-left-radius: 0;
}

.row__grid-row.row__highlighted .row__label,
.row__grid-row.row__highlighted.row__hovered .row__label {
  opacity: 1;
  background-color: #37c4ff;
  border-bottom-left-radius: 0; 
}

.row__grid-row table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: separate;
}

.row__grid-row:not(:first-child) {
  margin-top: 30px;
}

.row__grid-row.row__background{
  background-color: #c3edff;
  border: 1px dashed #37c4ff;
}

.row__grid-row.row__background td{
  border-color: #37c4ff;
}

.row__label {
  position: absolute;
  top: -20px;
  left: -1px;
  display: inline-block;
  border-radius: 2px;
  background-color: #37c4ff;
  color: #fff;
  opacity: 0;
  font-size: 11px;
  padding: 2px 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.1s ease-in;
}

.row__grid-row.row__disable-row-label .row__label {
  opacity: 0 !important;
}

.row__grid-row.row__disable-row-label {
  border: 1px solid #d4d4d4 !important;
  border-radius: 3px !important;
}.grid__editor {
  display: none;
  padding: 10px;
  min-height: calc(100vh - 42px - 30px);
}

.grid__active {
  display: block;
}

.grid__can-drop {
  /*background-image: repeating-linear-gradient(135deg, transparent, rgba(200, 250, 200, 0.5) 2px, rgba(255,255,255,.5) 2px, rgba(255,255,255,.5) 4px);
  color: rgba(180, 230, 180, 0.8);*/
}
.main-area__main-area {
  outline: none;
}

.main-area__main-area .main-area__highlighted {
}

.main-area__main-area:focus .main-area__highlighted {
}
.devices-link__item {
    display: inline-block;
    width: 40px;
    margin: 5px 0;
    height: 32px;
    padding: 6px;
    text-align: center;
    float: left;
    border-radius: 2px;
}

.devices-link__active {
    background-color: #2e2e2e;
}

.devices-link__active .devices-link__svg-path {
    fill: #ffffff;
}.undo-redo__command {
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 0 6px;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
}

.undo-redo__disabled {
  color: #888;
  pointer-events: none;
}

.undo-redo__disabled .undo-redo__svgPath {
  fill: #808080;
}

.undo-redo__container {
    margin: 0 15px;
    display: block;
    float: right;
}.preview-button__form {
  display: inline;
}

.preview-button__button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  color: #d9d9d9;
  transition: color 0.1s ease-in;
}

.preview-button__button:hover, .preview-button__button:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.preview-button__container {
    display: block;
    float: right;
}

.preview-button__label {
    color: currentColor;
    font-size: 13px;
    margin-left: 4px;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
    cursor: pointer;
}

.preview-button__button:hover,
.preview-button__botton:hover .preview-button__label,
.preview-button__button:focus:hover,
.preview-button__botton:focus:hover .preview-button__label {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.preview-button__button:focus,
.preview-button__botton:focus .preview-button__label {
  color: #d9d9d9;
  text-decoration: none;
  cursor: pointer;
}/*---------------------------------------------------------------------------------*/
/*  Container
/*---------------------------------------------------------------------------------*/

.toolbar__container {
    padding: 0px 15px;
}

/*---------------------------------------------------------------------------------*/
/*  Toolbar - Name
/*---------------------------------------------------------------------------------*/

.toolbar__name {
    width: 33.33%;
    float: left;
    padding: 11px 0;
}

.toolbar__label {
    font-size: 13px;
    font-weight: 400;
    color: #cfcfcf;
    line-height: 1;
    margin-bottom: 0;
}

/*---------------------------------------------------------------------------------*/
/*  Toolbar - Devices
/*---------------------------------------------------------------------------------*/

.toolbar__devices {
    width: 33.33%;
    float: left;
    text-align: center;
}

.toolbar__devices__container {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------------------------------------*/
/*  Toolbar - Tools
/*---------------------------------------------------------------------------------*/

.toolbar__tools {
    width: 33.33%;
    float: left;
    text-align: right;
    padding: 11px 0;
}/*---------------------------------------------------------------------------------*/
/*  Exit SVG Icon
/*---------------------------------------------------------------------------------*/
.exit__exit {
  background: #666;
  border-radius: 3px;
  bottom: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  cursor:pointer;
  display: block;
  height: 31px;
  left: 50%;
  margin: 0 auto;
  margin-left: -18.5px;
  position: absolute;
  text-align: center;
  width: 37px;
}

.exit__exit:hover{
  background: #757575;
}

.exit__exit:active {
  box-shadow: 0 0px 1px rgba(0,0,0,0.45);
  transform: translate(0px, 1px);
}

.exit__exit > svg {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/*# sourceMappingURL=screen.css.map*/