@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

@font-face {
  font-family:'Gill Sans MT Pro Light';
  src: url('../fonts/GillSansMTPro-Light.eot');
  src: url('../fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GillSansMTPro-Light.woff2') format('woff2'),
      url('../fonts/GillSansMTPro-Light.woff') format('woff'),
      url('../fonts/GillSansMTPro-Light.ttf') format('truetype'),
      url('../fonts/GillSansMTPro-Light.otf') format('truetype'),
      url('../fonts/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
  font-style: normal;
}

@font-face {
  font-family:'Gill Sans MT Pro Bold';
  src: url('../fonts/GillSansMTPro-Bold.eot');
  src: url('../fonts/GillSansMTPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GillSansMTPro-Bold.woff2') format('woff2'),
      url('../fonts/GillSansMTPro-Bold.woff') format('woff'),
      url('../fonts/GillSansMTPro-Bold.ttf') format('truetype'),
      url('../fonts/GillSansMTPro-Bold.otf') format('truetype'),
      url('../fonts/GillSansMTPro-Bold.svg#GillSansMTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('GillSans.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/GillSans.woff') format('woff'), 
  url('../fonts/GillSans.ttf')  format('truetype'), 
  url('../fonts/GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Helvetica Neue LT Std';
  src:url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src:url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family:'Helvetica Neue LT Std Cn';
  src:url('../fonts/HelveticaNeueLTStd-LtCn.eot');
  src:url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue LT Std Thin';
  src: url('../fonts/HelveticaNeueLTStd-ThCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-ThCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family:'Helvetica Neue LT Std Bold';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family:'Helvetica Neue LT Std Bold Heavy';
  src: url('../fonts/HelveticaNeueLTStd-HvCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue LT Std Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-SemiBold.woff') format('woff'), 
  url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), 
  url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Light.otf')  format('opentype'),
  url('../fonts/Montserrat-Light.woff') format('woff'), 
  url('../fonts/Montserrat-Light.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



