
/*input[type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
	-mox-text-security:circle;
	font-size:30px; color:#a3a3a3!important;
}*/

.r{box-shadow:inset 0px 0px 10px red;}
.g{box-shadow:inset 0px 0px 10px green;}
.b{box-shadow:inset 0px 0px 10px blue;}

.border-0{border:none!important;}
.border-L0{border-left:none!important;}
.border-R0{border-right:none!important;}
.border-T0{border-top:none!important;}
.border-B0{border-bottom:none!important;}

.radius-0{border-radius:0px!important;}
.radius-2{border-radius:2px!important;}
.radius-4{border-radius:4px!important;}
.radius-6{border-radius:6px!important;}
.radius-10{border-radius:10px!important;}
.radius-20{border-radius:20px!important;}
.radius-25{border-radius:25px!important;}
.radius-30{border-radius:30px!important;}

.hr-profile{border-top:1px solid #a2a2a2;}

.p0{padding:0px!important;} .p5{padding:5px!important;} .p10{padding:10px!important;} .p15{padding:15px!important;}
.p20{padding:20px!important;} .p25{padding:25px!important;} .p30{padding:30px!important;} .p35{padding:35px!important;}

.pLR0{padding-left:0px!important; padding-right:0px!important;}
.pLR5{padding-left:5px!important; padding-right:5px!important;}
.pLR6{padding-left:6px!important; padding-right:6px!important;}
.pLR7{padding-left:7px!important; padding-right:7px!important;}
.pLR8{padding-left:8px!important; padding-right:8px!important;}
.pLR9{padding-left:9px!important; padding-right:9px!important;}
.pLR10{padding-left:10px!important; padding-right:10px!important;}
.pLR15{padding-left:15px!important; padding-right:15px!important;}
.pLR20{padding-left:20px!important; padding-right:20px!important;}
.pLR25{padding-left:25px!important; padding-right:25px!important;}
.pLR30{padding-left:30px!important; padding-right:30px!important;}
.pLR35{padding-left:35px!important; padding-right:35px!important;}
.pLR40{padding-left:40px!important; padding-right:40px!important;}
.pLR45{padding-left:45px!important; padding-right:45px!important;}
.pLR50{padding-left:50px!important; padding-right:50px!important;}

.pTB0{padding-top:0px!important; padding-bottom:0px!important;}
.pTB5{padding-top:5px!important; padding-bottom:5px!important;}
.pTB6{padding-top:6px!important; padding-bottom:6px!important;}
.pTB7{padding-top:7px!important; padding-bottom:7px!important;}
.pTB8{padding-top:8px!important; padding-bottom:8px!important;}
.pTB9{padding-top:8px!important; padding-bottom:9px!important;}
.pTB10{padding-top:10px!important; padding-bottom:10px!important;}
.pTB12{padding-top:12px!important; padding-bottom:12px!important;}
.pTB13{padding-top:13px!important; padding-bottom:13px!important;}
.pTB14{padding-top:14px!important; padding-bottom:14px!important;}
.pTB15{padding-top:15px!important; padding-bottom:15px!important;}
.pTB20{padding-top:20px!important; padding-bottom:20px!important;}

.pL0{padding-left:0px!important;} .pL5{padding-left:5px!important;} .pL10{padding-left:10px!important;}
.pL15{padding-left:15px!important;} .pL20{padding-left:20px!important;} .pL25{padding-left:25px!important;}

.pR0{padding-right:0px!important;} .pR5{padding-right:5px!important;} .pR10{padding-right:10px!important;}
.pR15{padding-right:15px!important;} .pR20{padding-right:20px!important;} .pR25{padding-right:25px!important;}
.pR30{padding-right:30px!important;} .pR35{padding-right:35px!important;} .pR40{padding-right:40px!important;}
.pR45{padding-right:45px!important;} .pR50{padding-right:50px!important;}

.pr0{padding-right:0px!important;} .pr1{padding-right:1px!important;} .pr2{padding-right:0px!important;}
.pr3{padding-right:3px!important;} .pr4{padding-right:4px!important;} .pr5{padding-right:5px!important;}

.pt0{padding-top:0px!important;} .pt1{padding-top:1px!important;} .pt2{padding-top:0px!important;}
.pt3{padding-top:3px!important;} .pt4{padding-top:4px!important;}
.pt5{padding-top:5px!important;} .pt10{padding-top:10px!important;} .pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;} .pt25{padding-top:25px!important;} .pt30{padding-top:30px!important;} 
.pt35{padding-top:35px!important;} .pt40{padding-top:40px!important;} .pt45{padding-top:45px!important;}
.pt50{padding-top:50px!important;}

.pb0{padding-bottom:0px!important;} .pb5{padding-bottom:5px!important;} .pb10{padding-bottom:10px!important;} 
.pb15{padding-bottom:15px!important;} .pb20{padding-bottom:20px!important;} .pb25{padding-bottom:25px!important;} 
.pb30{padding-bottom:30px!important;} .pb35{padding-bottom:35px!important;}

.mr-0{margin:0px!important;} .mr-5{margin:5px!important;} .mr-10{margin:10px!important;} .mr-15{margin:15px!important;}

.margin-0{margin:0px!important;} .margin-1{margin:1px!important;} .margin-2{margin:2px!important;} 
.margin-3{margin:3px!important;} .margin-4{margin:4px!important;} .margin-5{margin:5px!important;} 

.mt0{margin-top:0px!important;} .mt1{margin-top:1px!important;} .mt2{margin-top:2px!important;} 
.mt3{margin-top:3px!important;} .mt4{margin-top:4px!important;} .mt5{margin-top:5px!important;} 
.mt6{margin-top:6px!important;} .mt7{margin-top:7px!important;} .mt8{margin-top:8px!important;} 
.mt9{margin-top:9px!important;} .mt10{margin-top:10px!important;} .mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;} .mt25{margin-top:25px!important;} .mt30{margin-top:30px!important;} 
.mt35{margin-top:35px!important;} .mt40{margin-top:40px!important;} .mt45{margin-top:45px!important;} 
.mt50{margin-top:50px!important;}
.mt80{margin-top:80px!important;}

.mb0{margin-bottom:0px!important;} .mb1{margin-bottom:1px!important;} .mb2{margin-bottom:2px!important;} 
.mb3{margin-bottom:3px!important;} .mb3{margin-bottom:4px!important;} .mb4{margin-bottom:5px!important;} 
.mb5{margin-bottom:5px!important;} .mb6{margin-bottom:6px!important;} .mb7{margin-bottom:7px!important;} 
.mb8{margin-bottom:8px!important;} .mb9{margin-bottom:9px!important;} .mb10{margin-bottom:10px!important;} 
.mb15{margin-bottom:15px!important;} .mb20{margin-bottom:20px!important;} .mb25{margin-bottom:25px!important;} 
.mb30{margin-bottom:30px!important;} .mb35{margin-bottom:35px!important;} .mb40{margin-bottom:40px!important;} 
.mb45{margin-bottom:45px!important;} .mb50{margin-bottom:50px!important;}

.mr0{margin-right:0px!important;} .mr1{margin-right:1px!important;} .mr2{margin-right:2px!important;} .mr3{margin-right:3px!important;}
.mr4{margin-right:4px!important;} .mr5{margin-right:5px!important;} .mr6{margin-right:6px!important;} .mr7{margin-right:7px!important;}
.mr8{margin-right:8px!important;} .mr9{margin-right:6px!important;} .mr10{margin-right:10px!important;}

.mL0{margin-left:0px!important;} .mL1{margin-left:1px!important;} .mL2{margin-left:2px!important;} .mL3{margin-left:3px!important;}
.mL4{margin-left:4px!important;} .mL5{margin-left:5px!important;} .mL6{margin-left:6px!important;} .mL7{margin-left:7px!important;}
.mL8{margin-left:8px!important;} .mL9{margin-left:9px!important;} .mL10{margin-left:10px!important;}
.mL30{margin-left:30px!important;}
.mTB0{margin-top:0px!important; margin-bottom:0px!important;} 
.mTB5{margin-top:5px!important; margin-bottom:5px!important;}
.mTB6{margin-top:6px!important; margin-bottom:6px!important;}
.mTB7{margin-top:7px!important; margin-bottom:7px!important;}
.mTB8{margin-top:8px!important; margin-bottom:8px!important;}
.mTB9{margin-top:9px!important; margin-bottom:9px!important;}
.mTB10{margin-top:10px!important; margin-bottom:10px!important;} 
.mTB15{margin-top:15px!important; margin-bottom:15px!important;} 
.mTB20{margin-top:20px!important; margin-bottom:20px!important;} 
.mTB25{margin-top:25px!important; margin-bottom:25px!important;} 
.mTB30{margin-top:30px!important; margin-bottom:30px!important;} 
.mTB35{margin-top:35px!important; margin-bottom:35px!important;} 
.mTB40{margin-top:40px!important; margin-bottom:40px!important;} 
.mTB45{margin-top:45px!important; margin-bottom:45px!important;} 
.mTB50{margin-top:50px!important; margin-bottom:50px!important;}

.mLR0{margin-left:0px!important; margin-right:0px!important;} 
.mLR1{margin-left:1px!important; margin-right:1px!important;} 
.mLR2{margin-left:2px!important; margin-right:2px!important;} 
.mLR3{margin-left:3px!important; margin-right:3px!important;} 
.mLR4{margin-left:4px!important; margin-right:4px!important;} 
.mLR5{margin-left:5px!important; margin-right:5px!important;}
.mLR6{margin-left:6px!important; margin-right:6px!important;}
.mLR7{margin-left:7px!important; margin-right:7px!important;}
.mLR8{margin-left:8px!important; margin-right:8px!important;}
.mLR9{margin-left:9px!important; margin-right:9px!important;}
.mLR10{margin-left:10px!important; margin-right:10px!important;}

.mt-min0{margin-top:-0px!important;} .mt-min1{margin-top:-1px!important;} .mt-min2{margin-top:-2px!important;} 
.mt-min3{margin-top:-3px!important;} .mt-min4{margin-top:-4px!important;} .mt-min5{margin-top:-5px!important;} 
.mt-min6{margin-top:-6px!important;} .mt-min7{margin-top:-7px!important;} .mt-min8{margin-top:-8px!important;} 
.mt-min9{margin-top:-9px!important;} .mt-min10{margin-top:-10px!important;}

.content-center{margin-left:auto; margin-right:auto;}

.pr{position: relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.top-0{top:0px!important} .top-1{top:1px!important} .top-2{top:2px!important} .top-3{top:3px!important} .top-4{top:4px!important}
.top-5{top:5px!important} .top-10{top:10px!important} .top-15{top:15px!important} .top-16{top:16px!important} 
.top-17{top:17px!important} .top-18{top:18px!important} .top-19{top:19px!important} .top-20{top:20px!important} .top-25{top:25px!important}
.top-30{top:30px!important} .top-35{top:35px!important} .top-40{top:40px!important} .top-45{top:45px!important} .top-50{top:50px!important}
.top-55{top:55px!important} .top-60{top:60px!important} .top-65{top:65px!important} .top-70{top:70px!important} .top-75{top:75px!important}
.top-80{top:80px!important} .top-85{top:85px!important} .top-90{top:90px!important} .top-95{top:95px!important} .top-100{top:100px!important}

.topmin-0{top:-0px!important} .topmin-1{top:-1px!important} .topmin-2{top:-2px!important} .topmin-3{top:-3px!important} 
.topmin-4{top:-4px!important} .topmin-5{top:-5px!important} .topmin-10{top:-10px!important}

.left-0{left:0px!important} .left-1{left:1px!important} .left-2{left:2px!important} .left-3{left:3px!important} 
.left-4{left:4px!important} .left-5{left:5px!important} .left-10{left:10px!important} .left-15{left:15px!important} 
.left-20{left:20px!important} .left-25{left:25px!important} .left-30{left:30px!important} .left-35{left:35px!important} 
.left-40{left:40px!important} .left-45{left:45px!important} .left-50{left:50px!important} .left-55{left:55px!important} 
.left-60{left:60px!important} .left-65{left:65px!important} .left-70{left:70px!important} .left-75{left:75px!important}
.left-80{left:80px!important} .left-85{left:85px!important} .left-90{left:90px!important} .left-95{left:95px!important} 
.left-100{left:100px!important}

.right-0{right:0px!important} .right-1{right:1px!important} .right-2{right:2px!important} .right-3{right:3px!important} 
.right-4{right:4px!important} .right-5{right:5px!important} .right-10{right:10px!important} .right-15{right:15px!important} 
.right-20{right:20px!important} .right-25{right:25px!important} .right-30{right:30px!important} .right-35{right:35px!important} 
.right-40{right:40px!important} .right-45{right:45px!important} .right-50{right:50px!important} .right-55{right:55px!important} 
.right-60{right:60px!important} .right-65{right:65px!important} .right-70{right:70px!important} .right-75{right:75px!important}
.right-80{right:80px!important} .right-85{right:85px!important} .right-90{right:90px!important} .right-95{right:95px!important} 
.right-100{right:100px!important}

/*Global width css*/
.max-WT-100p{max-width:100%!important;}
.max-WT-320{width:100%; max-width:320px!important;} .max-WT-360{width:100%; max-width:360px!important;} 
.max-WT-480{width:100%; max-width:480px!important;} .max-WT-600{width:100%; max-width:600px!important;} 
.max-WT-767{width:100%; max-width:767px!important;} .max-WT-991{width:100%; max-width:991px!important;}
.max-WT-1024{width:100%; max-width:1024px!important;}
.max-WT-20{width:100%; max-width:20px!important;} .max-WT-30{width:100%; max-width:30px!important;} 
.max-WT-40{width:100%; max-width:40px!important;} .max-WT-50{width:100%; max-width:50px!important;} 
.max-WT-60{width:100%; max-width:60px!important;} .max-WT-70{width:100%; max-width:70px!important;}
.max-WT-80{width:100%; max-width:80px!important;} .max-WT-90{width:100%; max-width:90px!important;}
.max-WT-100{width:100%; max-width:100px!important;} .max-WT-110{width:100%; max-width:110px!important;} 
.max-WT-120{width:100%; max-width:120px!important;} .max-WT-130{width:100%; max-width:130px!important;} 
.max-WT-140{width:100%; max-width:140px!important;} .max-WT-150{width:100%; max-width:150px!important;} 
.max-WT-160{width:100%; max-width:160px!important;} .max-WT-170{width:100%; max-width:170px!important;} 
.max-WT-180{width:100%; max-width:180px!important;} .max-WT-190{width:100%; max-width:190px!important;} 
.max-WT-200{width:100%; max-width:200px!important;} .max-WT-210{width:100%; max-width:210px!important;} 
.max-WT-220{width:100%; max-width:220px!important;} .max-WT-230{width:100%; max-width:230px!important;} 
.max-WT-240{width:100%; max-width:240px!important;} .max-WT-250{width:100%; max-width:250px!important;} 
.max-WT-300{width:100%; max-width:300px!important;} .max-WT-350{width:100%; max-width:350px!important;}
.max-WT-310{width:100%; max-width:310px!important;} .max-WT-320{width:100%; max-width:320px!important;}
.max-WT-330{width:100%; max-width:330px!important;} .max-WT-340{width:100%; max-width:340px!important;}
.max-WT-360{width:100%; max-width:360px!important;} .max-WT-370{width:100%; max-width:370px!important;}
.max-WT-380{width:100%; max-width:380px!important;} .max-WT-390{width:100%; max-width:390px!important;}
.max-WT-400{width:100%; max-width:400px!important;} .max-WT-450{width:100%; max-width:450px!important;} 
.max-WT-500{width:100%; max-width:500px!important;} .max-WT-550{width:100%; max-width:550px!important;} 
.max-WT-600{width:100%; max-width:600px!important;} .max-WT-650{width:100%; max-width:650px!important;}
.max-WT-700{width:100%; max-width:700px!important;} .max-WT-750{width:100%; max-width:750px!important;}
.max-WT-780{width:100%; max-width:780px!important;}
.max-WT-800{width:100%; max-width:800px!important;} .max-WT-900{width:100%; max-width:900px!important;}
.max-WT-1000{width:100%; max-width:1000px!important;}

.min-WT-280{min-width:280px!important;}
.min-WT-320{min-width:320px!important;} .min-WT-360{min-width:360px!important;} .min-WT-480{min-width:480px!important;}
.min-WT-600{min-width:600px!important;} .min-WT-767{min-width:767px!important;} .min-WT-991{min-width:991px!important;}
.min-WT-20{min-width:20px!important;} .min-WT-30{min-width:30px!important;} .min-WT-40{min-width:40px!important;}
.min-WT-50{min-width:50px!important;} .min-WT-60{min-width:60px!important;} .min-WT-70{min-width:70px!important;}
.min-WT-80{min-width:80px!important;} .min-WT-90{min-width:90px!important;}
.min-WT-100{min-width:100px!important;} .min-WT-110{min-width:110px!important;} .min-WT-120{min-width:120px!important;} 
.min-WT-130{min-width:130px!important;} .min-WT-140{min-width:140px!important;} .min-WT-150{min-width:150px!important;} 
.min-WT-160{min-width:160px!important;} .min-WT-170{min-width:170px!important;} .min-WT-180{min-width:180px!important;}
.min-WT-190{min-width:190px!important;} .min-WT-200{min-width:200px!important;}
.min-WT-250{min-width:250px!important;} .min-WT-300{min-width:300px!important;} .min-WT-350{min-width:350px!important;}
.min-WT-400{min-width:400px!important;} .min-WT-450{min-width:450px!important;} .min-WT-500{min-width:500px!important;}
.min-WT-550{min-width:550px!important;} .min-WT-600{min-width:600px!important;} .min-WT-650{min-width:650px!important;}
.min-WT-800{min-width:800px!important;}
.min-WT-900{min-width:900px!important;}
.min-WT-1000{min-width:1000px!important;}

.wt-100p{width:100%!important;} .wt-50p{width:50%!important;}
.wt-20{width:20px!important;}  .wt-25{width:25px!important;} 
.wt-320{width:320px!important;} .wt-360{width:360px!important;} .wt-480{width:480px!important;}
.wt-600{width:600px!important;} .wt-767{width:767px!important;} .wt-991{width:991px!important;}
.wt-20{width:20px!important;} .wt-30{width:30px!important;} .wt-40{width:40px!important;} .wt-45{width:45px!important;}
.wt-50{width:50px!important;} .wt-60{width:60px!important;} .wt-70{width:70px!important;}
.wt-80{width:80px!important;} .wt-90{width:90px!important;}
.wt-100{width:100px!important;} .wt-110{width:110px!important;} .wt-120{width:120px!important;} 
.wt-130{width:130px!important;} .wt-140{width:140px!important;} .wt-150{width:150px!important;} 
.wt-160{width:160px!important;} .wt-170{width:170px!important;} .wt-180{width:180px!important;}
.wt-190{width:190px!important;} .wt-200{width:200px!important;}
.wt-250{width:250px!important;} .wt-300{width:300px!important;} .wt-350{width:350px!important;}
.wt-400{width:400px!important;} .wt-450{width:450px!important;} .wt-500{width:500px!important;}
.wt-550{width:550px!important;} .wt-600{width:600px!important;} .wt-650{width:650px!important;}
.wt-800{width:800px!important;}
.wt-900{width:900px!important;}
.wt-1000{width:1000px!important;}

.min-ht-50{min-height:50px!important;} .min-ht-60{min-height:60px!important;}
.min-ht-70{min-height:70px!important;} .min-ht-80{min-height:80px!important;} 
.min-ht-90{min-height:90px!important;}
.min-ht-100{min-height:100px!important;} .min-ht-140{min-height:140px!important;}
.min-ht-145{min-height:145px!important;} .min-ht-150{min-height:150px!important;} 
.min-ht-200{min-height:200px!important;} .min-ht-210{min-height:210px!important;}
.min-ht-220{min-height:220px!important;} .min-ht-230{min-height:230px!important;}
.min-ht-240{min-height:240px!important;} .min-ht-250{min-height:250px!important;}
.min-ht-300{min-height:300px!important;} .min-ht-350{min-height:350px!important;} 
.min-ht-400{min-height:400px!important;} .min-ht-450{min-height:450px!important;} 
.min-ht-500{min-height:500px!important;} .min-ht-550{min-height:550px!important;} 
.min-ht-600{min-height:600px!important;} .min-ht-650{min-height:650px!important;} 
.min-ht-700{min-height:700px!important;} .min-ht-750{min-height:750px!important;} 
.min-ht-800{min-height:800px!important;} .min-ht-850{min-height:850px!important;} 
.min-ht-900{min-height:900px!important;} .min-ht-950{min-height:300px!important;} 

.ht-30{height:30px!important;} .ht-35{height:35px!important;} 
.ht-40{height:40px!important;} .ht-45{height:45px!important;} 
.ht-50{height:50px!important;} .ht-60{height:60px!important;} 
.ht-100{height:100px!important;} .ht-150{height:150px!important;} 
.ht-200{height:200px!important;} .ht-250{height:250px!important;}
.ht-300{height:300px!important;} .ht-350{height:350px!important;} 
.ht-400{height:400px!important;} .ht-450{height:450px!important;} 
.ht-500{height:500px!important;} .ht-550{height:550px!important;} 
.ht-600{height:600px!important;} .ht-650{height:650px!important;} 
.ht-700{height:700px!important;} .ht-750{height:750px!important;} 
.ht-800{height:800px!important;} .ht-850{height:850px!important;} 
.ht-900{height:900px!important;} .ht-950{height:300px!important;} 



.minWidth50{min-width:50px;}
.minWidth80{min-width:80px;}
.minWidth100{min-width:100px;}
.minWidth150{min-width:150px;}
.minWidth200{min-width:200px;}
.minWidth250{min-width:250px;}
.minWidth300{min-width:300px;}


.Width50{width:50px!important;}
.Width80{width:80px!important;}
.Width100{width:100px!important;}
.Width150{width:150px!important;}
.Width170{width:170px!important;}
.Width190{width:190px!important;}
.Width200{width:200px!important;}
.Width250{width:250px!important;}
.Width300{width:300px!important;}


.height100{height:100px!important;}
.height150{height:150px!important;}
.height200{height:200px!important;}
.height250{height:250px!important;}
.height300{height:300px!important;}
.height350{height:350px!important;}
.height400{height:400px!important;}


.minHeight50{min-height:50px!important;}
.minHeight100{min-height:100px!important;}
.minHeight150{min-height:150px!important;}
.minHeight200{min-height:200px!important;}
.minHeight250{min-height:250px!important;}
.minHeight300{min-height:300px!important;}
.minHeight350{min-height:350px!important;}
.minHeight400{min-height:400px!important;}


.tableWidth1000{min-width:1000px;}
.tableWidth900{min-width:900px;}
.tableWidth800{min-width:800px;}
.tableWidth600{min-width:600px;}
.tableWidth500{min-width:500px;}
.tableWidth400{min-width:400px;}
.tableWidth300{min-width:300px;}

.radius0{border-radius:0px!important;}
.radius2{border-radius:2px!important;}
.radius4{border-radius:4px!important;}
.radius6{border-radius:6px!important;}
.radius8{border-radius:8px!important;}
.radius10{border-radius:10px!important;}

.radius-TR0{border-top-right-radius:0!important;}
.radius-BR0{border-bottom-right-radius:0!important;}
.radius-TL0{border-top-left-radius:0!important;}
.radius-BL0{border-bottom-left-radius:0!important;}

.flex-1{flex:1!important;}
.flex-2{flex:2!important;}
.flex-3{flex:3!important;}

.no-background{background:none!important;}

.pos-static{position:static!important;}

.circuler-btn{border-radius:25px;}
.rounded-btn{border-radius:6px;}
.center-box{margin:0 auto;}
.margin0{margin:0!important;}
.padd0{padding:0!important;}
.shadow0{box-shadow:none!important;}
.box-shadow-dark{box-shadow:0 2px 10px #484848;}
.box-shadow{box-shadow:0 2px 10px #d6d6d6;}

.w100{width:100%;}
.h100{height:100%;}

/*Global font size css*/
.fs-10{font-size:10px!important;} .fs-12{font-size:12px!important;} .fs-13{font-size:13px!important;} 
.fs-14{font-size:14px!important;} .fs-15{font-size:15px!important;} .fs-16{font-size:16px!important;} 
.fs-17{font-size:17px!important;} .fs-18{font-size:18px!important;} .fs-19{font-size:19px!important;} 
.fs-20{font-size:20px!important;} .fs-21{font-size:21px!important;} .fs-22{font-size:22px!important;} 
.fs-23{font-size:23px!important;} .fs-24{font-size:24px!important;} .fs-25{font-size:25px!important;}
.fs-26{font-size:26px!important;} .fs-27{font-size:27px!important;} .fs-28{font-size:28px!important;}
.fs-29{font-size:29px!important;} .fs-30{font-size:30px!important;} .fs-31{font-size:31px!important;}
.fs-32{font-size:32px!important;}

/*Global Line Height css*/
.lnht-10{line-height:10px!important;} .lnht-12{line-height:12px!important;} .lnht-13{line-height:13px!important;} 
.lnht-14{line-height:14px!important;} .lnht-15{line-height:15px!important;} .lnht-16{line-height:16px!important;} 
.lnht-17{line-height:17px!important;} .lnht-18{line-height:18px!important;} .lnht-19{line-height:19px!important;} 
.lnht-20{line-height:20px!important;} .lnht-21{line-height:21px!important;} .lnht-22{line-height:22px!important;} 
.lnht-23{line-height:23px!important;} .lnht-24{line-height:24px!important;} .lnht-25{line-height:25px!important;}
.lnht-26{line-height:26px!important;} .lnht-27{line-height:27px!important;} .lnht-28{line-height:28px!important;}
.lnht-29{line-height:29px!important;} .lnht-30{line-height:30px!important;} .lnht-31{line-height:31px!important;}
.lnht-32{line-height:32px!important;}

/*Global bg color css*/
.bg-green{background:#59b200;}
.bg-blue{background:#00b0f2;}
.bg-rose{background:#ec008c;}
.bg-gray{background:#555555;}
.bg-dark-gray{background:#4a4a4c;}
.bg-white{background:#ffffff;}
.bg-black{background:#000000;}

/*Global text color css*/
.text-green{color:#59b200;}
.text-blue{color:#00b0f2;}
.text-rose{color:#ec008c;}
.text-gray{color:#555555;}
.text-light-gray{color:#d6d6d6;}
.text-white{color:#ffffff;}
.text-black{color:#000000;}
.text-gray-light{color: #999999;}

.bg-rose:hover{background:#d50581;transition:ease all .6s;}

.font-arial{font-family:'Arial'!important;}
.font-gill{font-family: 'Gill Sans MT Pro Bold'!important;}
.font-gillsans-regular{font-family: 'GillSans';}
.font-mostrare-regular{font-family: 'Montserrat-Regular';}
.font-mostrare-semibold{font-family: 'Montserrat-SemiBold';}
.font-helvetica-neue{font-family: Helvetica Neue, Arial, sans-serif;}
.font-600{font-weight:600!important;}
.italic{font-style:italic;}
.no-shadow{box-shadow:none!important;}