
@media (max-width:1440px) {
  

}
@media (max-width:1366px) {
  .container-common{max-width:1200px;}

}
@media (max-width:1280px) {


}

@media (max-width:1200px) {
 
}

@media(min-width:768px) and (max-width:1023px) {


}

@media(min-width:1100px){
  .topBanner-content {max-width:60%; }
}



@media (max-width:1199px) {
  .container-common{max-width:991px;}
  
  .main-form{padding:25px 10px;}
  

}

@media (max-width: 1024px) {
    .banner-sec {min-height: 300px; }
    .banner-sec img{object-fit: cover; min-height: 300px; border-radius: 6px;}
    .dropdown-menu.main-dropdown {left: calc(50% + 128px); width: 1000px; }
    .dropdown-menu.sort-dropdown {width: 250px;left: calc(50% + 24px);}

}

@media (max-width: 991px) {

    
    header > nav {padding: 0px 15px; }
    header > nav {padding-right:50px; }
    .mob-menu{display:block;}
    .close-menu{display:block;}
    .menu{opacity:0; visibility:hidden; backface-visibility:hidden; position:fixed; top:0px; right:0px; margin-right:-100%; background:#22272b; padding-top:50px; width:300px; height:100vh; overflow:hidden; overflow-y:auto; z-index:1; transition:400ms;}
    .menu ul li {display:block; padding:15px 15px; border-bottom:1px solid #d8d8d8; }
    .menu ul li:last-child {padding-right: 15px; }
    .menu ul li a,.menu ul li a:hover{color:#ffffff;}
    .menu ul li.dropdown a{display:block;}
    .menu ul li.dropdown .fa-caret-down{position:absolute;right:15px;top:20px;}
    .menu ul li.dropdown:before {display:none;}

    .menu-slide{margin-right:0; opacity:1; visibility:visible; backface-visibility:visible; transition:400ms;overflow: hidden; overflow-y: auto; height: calc(100vh - 0px)}    .dropDownStyle{height: calc(100% - 110px);}
    .onHoverDropdown .dropdown:hover>.dropdown-menu {display:none;}
    .dropdown-menu.main-dropdown{width: 100%; left: 0; transform: none;}
    .dropdown-menu.main-dropdown li{width:100%;}
    
    .logo {max-width:62px; }
    .desktop-logo{display:none;}
    .mobile-logo{display:block!important;width: 60px!important;}
    .product-item {width: calc(33% - 21px); }
    .foot-logo {margin: 0 auto 5px; }
    .footer-menu a {padding: 0px 8px; }
    .social-manu {margin-top: 5px; text-align: center; justify-content: center!important; }
    .footer-menu,.copy-right-text {text-align: center; }
    .Business-card-slider .slick-prev {left: -20px; }
    .Business-card-slider .slick-next {right: -20px; }
}

@media (max-width:767px) {
  body{padding-top:130px;}
  header {min-height:56px;}
  .request-quote-strip .container-common{padding:0;}
  .section-head h2 {font-size: 22px;}
  .product-box {margin: 10px 0; }
  .product-item {margin: 10px 0; padding: 15px; width: 100%; min-width: 100%; }
  .product-list {width: 50%; padding: 10px 3%; min-width: 50%; margin-bottom: 10px; }
  .product-list:nth-child(2){border:0;}
  .main-form {padding: 15px 0px; }
  .footer-content {padding: 30px 0px; }
  .footer-content ul li {width: 100%; }
  .footer-content ul li:first-child,.footer-content ul li:last-child {width: 100%;}
  .footer-content ul li + li{margin-top:5px;}
  .footer-content ul li a {font-size: 14px;}
  .copy-right-text p{text-align:center;}
  /*.copy-right-text a:first-child:before{display:none;}*/
  .social-manu{text-align:center!important;margin-top:15px;}
  .banner-sec {height:300px; }
  .banner-sec img{height: 300px; object-fit: cover;}
  .design-box.left-80 {left:50px!important; }
  .form-sec{margin:0 20px;}
  .icon-info {min-width:100%;padding-left:100px;margin: 10px 0; }
  .icon-info img {width: 56px;left: 20px; }
  .footer-menu {text-align: center; }
  .contact-at{width: 100%;display:block;text-align: center;}
  .inner-banner {padding:2em 1em;}
  .table-sec-cardstock {margin-top: 0px; }
  .card-box{margin-bottom:2em;}
  .iconic-info-detail {width: 100%;}
  
  }

@media (max-width:640px) {
  .footer-content ul li {width: calc(50% - 20px); margin: 10px 0; }

}

@media (max-width:576px) {

}

@media (max-width:480px) {
 .footer-content ul li {width: calc(100% - 20px); margin: 10px 0; }
}

@media (max-width:414px) {
 
}

@media (max-width:375px) {
  .design-box.left-80 {
      left: 27px!important;
  }
}

@media (max-width:360px) {
   .design-box.left-80 {
      left: 32px!important;
      max-width: 80%!important;
      top: 10px!important;
  }

  .request-quote-strip a{font-size:14px;padding: 5px 8px!important;}
}

