@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('fonts.css');
*, html{
    padding:0; margin:0;
    box-sizing:border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat-Regular';
    font-size:14px;
    box-sizing:border-box;
   
    overflow-x: hidden;
}

input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"]/*, 
select*/ {
    -webkit-appearance:none!important;
    -moz-appearance:none!important;
    appearance:none!important;
    box-shadow:none!important;
    border-radius:2px;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important; box-shadow:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
img{max-width:100%;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat-Regular';}
.btn{ font-family: 'Montserrat-Regular';}

/* header{background:rgba(255,255,255,0.9);position:absolute; display:flex; flex-flow: row wrap; width:100%; top:0; left:0; z-index:999; min-height:50px; padding:0px 0px; }*/
header > nav{padding:0px 30px;transition:0.5s;position:relative;}
header.fixed {background:#ffffff; position: fixed; top: 0; left: 0; width: 100%; opacity:0; visibility:hidden; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); transform:translate(0, -50px); }
header.fixed nav a, header.fixed .logo a{color:#555555; }
header.in-view{opacity:1; visibility:visible; transition: all 0.6s ease; transform:translate(0, 0); }
.top-strip{}
.request-quote-strip{}
header.fixed .top-strip,header.fixed .request-quote-strip{display:none;}
.container-common{width:100%; max-width:1240px; margin:0 auto; padding-left:15px; padding-right:15px;}

/*.logo{width:100%; max-width:170px; height:auto;}
.logo a{display:block;}
.logo img{width:100%; height:auto;}
.logo .mobile-logo{display:none;}*/

.menu{float:right; width:auto; position:relative;}
.menu ul {padding:0px; margin:0;}
.menu ul li{display:inline-block; padding:15px 15px;}
.menu ul li:last-child{padding-right:0;}
.menu ul li a{ color:#777777; font-size:15px;font-family: Helvetica Neue, Arial, sans-serif;}
.menu ul li a:hover{color:#10172f; text-decoration:none;}
.menu ul li a.contact{}
.menu ul li a.dropdown-toggle::after{display:none;}

.menu ul li.dropdown{}
.menu ul li.dropdown:before {content: "";opacity:0; border-bottom:10px solid #ec008c; border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; left: 50%; transform: translate(-50% , -50%); bottom: -5px;}
.menu ul li.dropdown:hover:before{opacity:1;}
.dropdown-menu.main-dropdown{background:#4a4a4c; border-top:3px solid #ec008c; border-radius:0px;left:calc(50% + 24px); top:100%!important; padding:0px;width:1200px;transform:translate(-50% , 0);max-height: calc(100vh - 120px);
                             overflow: hidden;overflow-y: auto;}

.dropdown-menu.main-dropdown li{width: calc(25% - 8px);    vertical-align: top;}
.dropdown-menu.main-dropdown li a{min-width: 100%;color:#fff; font-size:13px;border-bottom: 1px dotted transparent; font-weight:300; text-transform:none; text-shadow:none; padding:10px;}
.dropdown-menu.main-dropdown li a:hover{background: #4e4e4e; color: #d8d7d7; border-bottom: 1px dotted #7d7d80;}
.dropdown-menu.sort-dropdown{width:250px;}
.dropdown-menu.sort-dropdown li{width:100%;padding: 0 8px;}

.onHoverDropdown .dropdown:hover>.dropdown-menu {display: block;}

.onHoverDropdown  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.textwidget{display:flex;flex-wrap: wrap;padding: 10px;border: 1px solid #ec008c;}

.mob-menu{display:none; position:absolute; right:15px; top:50%; margin-top:-20px; width:40px; height:40px; cursor:pointer;}
.mob-menu:hover{color:#000; cursor:pointer;}
.mob-menu span.menu-bar{position:absolute; right:0px; top:50%; margin-top:-1px; width:25px; height:2px; background:#000;}
.mob-menu span.menu-bar:before{content:''; position:absolute; right:0px; top:50%; margin-top:-8px; width:30px; height:2px; background:#000;}
.mob-menu span.menu-bar:after{content:''; position:absolute; right:0px; top:50%; margin-top:6px; width:30px; height:2px; background:#000;}

.close-menu{display:none; position:absolute; right:10px; top:10px; width:30px; height:30px; border-radius:100%;}
.close-menu:before{
    content:''; position:absolute; width:18px; height:2px; left:4px; top:14px; margin-top:-1px; background:#ff2801;
    transform:rotate(45deg); -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg);
}
.close-menu:after{
    content:''; position:absolute; width:18px; height:2px; left:4px; top:14px; margin-top:-1px; background:#ff2801;
    transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg);
}

.main-content{width:100%;width: 100%; min-height: calc(100vh - 410px); background: #ffffff }
.commonSectionStyle {padding:1em 0 1em;}
.banner-sec{}
.section-head {width: 100%; text-align: center; margin-bottom: 10px; }
.design-box{}
.product-box{border:1px solid #ddd;}
.product-box-inner{padding:0 10%;}
.product-item{margin:10px;padding:15px;width:calc(20% - 21px);}
.product-item:hover{box-shadow:0 4px 8px #b6d1db;}
.product-item img{transition:ease all .6s;;}
.product-item:hover img{transition:ease-out all .6s;transform:scale(.92);}
.product-item-content{margin-top:10px;}
.product-item-content p{min-height:60px;}

.product-list{width: 25%; border-right: 1px solid #ddd; padding:10px 5%;}
.product-list:last-child{border:0;}
.product-list ul li a{color: #999999; font-family: 'Montserrat-Regular'; line-height: 24px; font-size: 13px;}

.btn-blue{background:#544879;color:#fff;font-weight: 400;border:0;border-radius:4px;}
.btn-blue:hover, .btn-blue:focus,
.btn-blue.focus, .btn-blue.active { opacity:0.9;color:#fff;}

.btn.btn-pricing{border:1px solid #6e6e6e;padding:3px 15px;color:#6e6e6e;}
.btn.btn-pricing:hover, .btn.btn-pricing:focus,
.btn.btn-pricing.focus, .btn.btn-pricing.active { opacity:0.9;border:1px solid #00b0f2;background:#00b0f2;color:#ffffff;}

.form-sec{}
/*Footer section Start*/

footer{position: relative; padding:0px; }
.footer-top {padding: 10px 0;}
.foot-logo{max-width:160px;height: auto;margin-bottom: 5px;}
.foot-logo img{width:100%;height:100%;}
.icon-info {position:relative;background: #6a6a6a;min-width: 180px; margin:10px 5px; padding:10px 10px 10px 40px; border-radius: 8px; }
.icon-info img{position: absolute; left: 4px; top: 50%; width: 30px; transform: translate(0%, -50%);}
.social-manu{ width:100%; position:relative; margin-top:0px;}
.social-manu li {padding-left: 5px; width: 32px; }
.social-manu a{transition:0.6s}
.social-manu a:hover{transition:0.6s;opacity:.7;}
.footer-bottom {background: transparent;padding:15px 0;border-top: 1px solid #ddd;}
.footer-menu a{display:inline-block; color: #d6d6d6; font-family: Helvetica Neue, Arial, sans-serif;font-size:14px; position:relative; padding:0px 15px;}
.footer-menu a:first-child{padding-left:0;}
.copy-right-text p{color: #d6d6d6; font-family: Helvetica Neue, Arial, sans-serif;font-size:14px; margin: 0;}

/*Footer section End*/

/******form css********/

.reqiured{color:#eb008c;}
.main-form{padding: 20px 10px; width: 100%;}
.main-form .form-group{margin-bottom:15px;}
.main-form .select-dropdown input.form-control{height:38px; border-radius:0px; border:1px solid #d8d8d8; color:#454545;}
.main-form .input-wrapper{position:relative;}
.main-form .input-wrapper i{position:absolute; top:50%; left:15px; color:#d8d8d8; font-size:22px; transform:translate(0, -50%); -webkit-transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
.main-form .input-wrapper input.form-control{padding-left:45px;}
.main-form input.form-control{font-family: 'Montserrat-Regular';font-size: 13px;height:44px; border:1px solid #d8d8d8; border-radius:4px; color:#818181; font-size:14px;}
.main-form select.form-control{font-family: 'Montserrat-Regular';height:44px!important; border:1px solid #d8d8d8; border-radius:4px; color:#818181; font-size:14px;}
.main-form .custome-label{margin-bottom:0px; color:#828282; font-size:14px;}
.main-form .forgotPass{color:#828282; font-size:14px; padding:0 .75rem;}
.main-form label,.col-form-label{font-family: 'Montserrat-Regular';padding-left:15px;letter-spacing: 0.5px;font-size:15px;color:#878787;font-family: 'Montserrat-Regular'; padding-left: 15px; font-size: 14px; color: #878787;}
.main-form label.form-check-label{padding-left:0;font-family: 'Montserrat-Regular';font-size:13px;color:#999999;}
.main-form input.form-control::-webkit-input-placeholder {color:#a3a3a3;font-size:13px;}
.main-form input.form-control::-moz-placeholder {color:#a3a3a3;font-size:13px;}
.main-form input.form-control:-ms-input-placeholder {color:#a3a3a3;font-size:13px;}
.main-form input.form-control:-moz-placeholder {color:#a3a3a3;font-size:13px;}
.main-form textarea.form-control{width:100%; border:1px solid #d8d8d8; border-radius:4px; color:#818181; resize:none; font-size:14px;}
.main-form textarea.form-control::-webkit-input-placeholder {color:#a3a3a3;}
.main-form textarea.form-control::-moz-placeholder {color:#a3a3a3;}
.main-form textarea.form-control:-ms-input-placeholder {color:#a3a3a3;}
.main-form textarea.form-control:-moz-placeholder {color:#a3a3a3;}
.main-form textarea.form-control{height:80px;font-family: 'Montserrat-Regular';font-size: 13px;}

label.radio-design{position:relative; padding-left:25px; padding-right:2px; cursor:pointer; font-weight:400; font-size:14px; color:#909090; margin-right:8px;}
label.radio-design input[type="radio"]{opacity:0; position:absolute; left:0; top:0; margin:0;}
label.radio-design input[type="radio"] ~ span{position:absolute; left:0px; top:2px; width:14px; height:14px; border-radius:100%; border:1px solid #0db55a; /*box-shadow:inset 3px 5px 4px rgba(0,0,0,0.2);*/}
label.radio-design input[type="radio"] ~ span:before{opacity:0; content:''; position:absolute; left:3px; top:3px; width:6px; height:6px; background:#0db55a; border-radius:100%; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0); -webkit-transform:scale(0); -ms-transform:scale(0);}
label.radio-design input[type="radio"]:checked ~ span:before {opacity:1; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1);}
label.radio-design.dark{color:#333346;}
label.checkbox-design{ font-family: 'Montserrat-Regular';position:relative; padding-left:25px; padding-right:2px; cursor:pointer; font-weight:400; font-size:14px; color:#535f66; margin-right:8px;}
label.checkbox-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0; margin:0;}
label.checkbox-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:2px; width:16px; height:16px; border:1px solid #ccc;}
label.checkbox-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:4px; top:2px; width:6px; height:9px; background:transparent; border-right:2px solid #0db55a; border-bottom:2px solid #0db55a; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0) rotate(45deg); -webkit-transform:scale(0) rotate(45deg); -ms-transform:scale(0) rotate(45deg);}
label.checkbox-design input[type="checkbox"]:checked ~ span{border:1px solid #0db55a;}
label.checkbox-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:scale(1) rotate(45deg); -webkit-transform:scale(1) rotate(45deg); -ms-transform:scale(1) rotate(45deg);}
label.checkbox-design.dark{color:#333346;}
label.checkbox-design2{position:relative; padding-left:25px; padding-right:2px; cursor:pointer; font-weight:500; font-size:14px; color:#333346; margin-right:8px; margin-bottom:0px;}
label.checkbox-design2 input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0; margin:0;}
label.checkbox-design2 input[type="checkbox"] ~ span{position:absolute; left:0px; top:2px; width:16px; height:16px; border-radius:2px; border:1px solid #d8d8d8; background:#fff;}
label.checkbox-design2 input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:4px; top:2px; width:6px; height:9px; background:transparent; border-right:2px solid #333649; border-bottom:2px solid #333649; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0) rotate(45deg); -webkit-transform:scale(0) rotate(45deg); -ms-transform:scale(0) rotate(45deg);}
label.checkbox-design2 input[type="checkbox"]:checked ~ span{border:1px solid #333649;}
label.checkbox-design2 input[type="checkbox"]:checked ~ span:before {opacity:1; transform:scale(1) rotate(45deg); -webkit-transform:scale(1) rotate(45deg); -ms-transform:scale(1) rotate(45deg);}


.g-recaptcha>div{margin:0 auto;max-width:100%!important;}
.btn.btn-quote{border:1px solid #ec008c;color:#fff;width:100%;max-width:320px;margin:0 auto;display:block;}
.btn.btn-quote:hover{border:1px solid #ec008c;color:#fff;}

.inner-banner{background:#e8e8e8;padding:4em 0;}
.card-box{padding:4em 2em;}
.table-sec-cardstock{margin-top:40px;}
.table-cardstock{border:1px solid #898989; border-radius:12px; overflow: hidden;background:#898989;}
.table.table-cardstock thead th {border-bottom:0px solid transparent;background:#00aeef;color:#fff;padding:.45rem .75rem;}
.table.table-cardstock thead th:first-child{border-top-left-radius:13px;}
.table.table-cardstock thead th:last-child{border-top-right-radius:13px;}
.table.table-cardstock td, .table.table-cardstock th{border-top: 1px solid #898989;}
.table-cardstock.table-bordered td, .table-cardstock.table-bordered th {border: 1px solid #898989;text-align:center; }
.table-cardstock.table-striped tbody tr:nth-of-type(odd) {background-color:#e5f7fd; }
.table-cardstock.table-striped tbody tr:nth-of-type(even) {background-color:#ffffff; }
.table-hover tbody tr:hover {color: #212529; background-color:#e5f7fd; }
.table.table-cardstock tbody tr:last-child td:first-child{border-bottom-left-radius:13px;}
.table.table-cardstock tbody tr:last-child td:last-child{border-bottom-right-radius:13px;}
.btn.request-quote{border:1px solid #ec008c;background:#ec008c;color:#ffffff;padding:3px 15px;}
.btn.request-quote:hover{}



/*Business-card slider start*/
.Business-card{padding:30px;position:relative;margin-top:30px;}
.Business-card-slider{margin: 4em 0;}
.Business-card-slider .slick-track{}
.Business-card-slider .slide_item{padding:0 20px;text-align:center;}
.Business-card-slider .slide_item.slick-slide img{display:initial;}
.Business-card-slider .slide_box{background:#fff;}
.btn.view-pricing{border:1px solid #ec008c;color:#ec008c;padding:3px 15px;transition:ease all .6s;}
.btn.view-pricing:hover{border:1px solid #ec008c;background:#ec008c;color:#ffffff;}
.Business-card-slider .slick-arrow{position:absolute;top:calc(50% - 40px);}
.Business-card-slider .slick-arrow:hover{background:#ddd;}
.Business-card-slider .slick-arrow:before{content: ""; background: url(../images/arrow-left.png) no-repeat center center/cover; width: 20px; height: 20px; display: block;}
.Business-card-slider .slick-arrow.slick-next:before{content: ""; background: url(../images/arrow-right.png) no-repeat center center/cover; width: 20px; height: 20px; display: block;}

.Business-card-slider .slick-prev{left:-40px;}
.Business-card-slider .slick-next{left:auto;right:-40px;}

/*Business-card slider end*/


.iconic-info{background:#f6f6f6;}
.iconic-info-detail{width:33.33%;padding:10px 20px;}


.product-list-column{
    width:100%;
    padding: 10px 5%;
}
.product-list-column ul{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    /* width: 100%; */
}
.product-list-column ul li{
    border-right: 1px solid #ddd;
}
.product-list-column ul li a {
    color: #999999;
    font-family: 'Montserrat-Regular';
    line-height: 24px;
    font-size: 13px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.m-auto {
    margin: auto!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.text-center{text-align: center;}
.text-white {
    color: #fff!important;
}
@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-lg-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-lg-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-lg-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-lg-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-lg-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-lg-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-lg-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-lg-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-lg-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-lg-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-lg-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-lg-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-lg-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-lg-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-lg-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-lg-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-lg-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-lg-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-lg-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-lg-0 {
        margin-left: 0
    }

    .offset-lg-1 {
        margin-left: 8.333333%
    }

    .offset-lg-2 {
        margin-left: 16.666667%
    }

    .offset-lg-3 {
        margin-left: 25%
    }

    .offset-lg-4 {
        margin-left: 33.333333%
    }

    .offset-lg-5 {
        margin-left: 41.666667%
    }

    .offset-lg-6 {
        margin-left: 50%
    }

    .offset-lg-7 {
        margin-left: 58.333333%
    }

    .offset-lg-8 {
        margin-left: 66.666667%
    }

    .offset-lg-9 {
        margin-left: 75%
    }

    .offset-lg-10 {
        margin-left: 83.333333%
    }

    .offset-lg-11 {
        margin-left: 91.666667%
    }
}